.ryan-photo {
  margin-left: 10vw;
  margin-top: 3vw;
  display: block;
  height: 30%;
  width: 30%;
  float: left;
}

.ryan-intro-text {
  margin-top: 25vh;
  width: 50%;
  float: right;
  font-weight: bold;
}

h4 {
  font-weight: normal;
}