.nav-link {
  font-family: 'Zen Antique Soft', serif;
  font-size: 9;
  color: black;
  text-decoration: none;
  float: left;
  padding: 2vw 4vw 2vw 4vw;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #13B5EA;
}

.nav-link:hover::after {
  width: 100%;
  transition: width .3s;
}