.mdl-layout__header-row{
  background-color:gray !important;
  /*background: #bdc3c7;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Landing Page */
/* Landing Page Background */
.landing-grid{
  background:grey;
  position: fixed;
  text-align: center;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-landing-page{
  width: '100%';
  margin: 'auto';
  background: linear-gradient(44deg, #687864, #31708e, #5085a5, #8fc1e3, #f7f9fb);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;

  height: 100%;
}

.in-construction{
  width: '100%';
  margin: 'auto';
  background: linear-gradient(44deg, #687864, #31708e, #5085a5, #8fc1e3, #f7f9fb);
  background-size: 1000% 1000%;
  font-size: 0.5em;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;

  height: 100%;
}

.in-text{
  line-height: 5em;
  text-align: center;
  font-size: 5em;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;

  position: fixed;
  top: 50%;
  left: 14%;
  margin-top: 0em;
  margin-left: 0em;

}

.banner-text h1 {
  font-size: 4em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner-text h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}

.banner-text p {
  color: white;
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}


/* Timeline page Css styles */
.graphics-background-aboutme{
  display: inline-block;
  vertical-align: top;
  height: 25vh;
  width: 100%;
  /* border-style:solid;
  border-width:1px; */
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: #31708E;
  }

.graphicExplained-background-aboutme{
  text-align: center;
  /* background: #A8D0E6; */
  background: #8FC1E3;
}

/* Work-timeline and Education-timeline styles */
.buttons-aboutme{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.work-descriptions{
  text-align: left;
  font-size: 50px;

}

.orion-health-description-aboutme{
  color: white;
  text-align: left;
}

.description-of-papers-taken-hons{
  text-align: left;
}

.description-of-papers-taken-gdip{
  text-align: left;
}

.vertical-timeline-element--work{
  background-color: '#2c3531';
  color: '#fff';
}

.vertical-timeline-element-title{
  font-size: '1.5em'
}

.vertical-timeline-element-subtitle{
  font-size: '1.5em'
}

.papers-and-grades{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.date-UoA-GTA{
  color: white;
  font-size: '1.5em';
}

.date-UoA-BSCH{
  font-size: '1.5em';
  color: white;
}

.vertical-timeline-element-title-educ{
  text-align: left;
  font-size: '1.5em';
}

.vertical-timeline-element-subtitle-educ{
  text-align: left;
  font-size: '1.5em';
}

/* Lottie Animation */
.lotties{
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
}

@media only screen {
  .lotties{
    display: grid;
    grid-template-columns: auto;
  }
}

/* Extra-curricular styles */
.timeline-extr-grid{
  min-height: 100vh;  
  
}

.timeline-extr-card{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.extra-descriptions{
  text-align: left;
}

/* Projects page css */
.projects-content{
  justify-content: center; 
  margin: 1em;
}

.Naive-Bayes{
  background: url(images/NaiveBayes.PNG) center / cover;
}

.group-work-hci{
  background: url(images/345PageExamplePNG.PNG) center / cover;
}

.projects-trace-file{
  background: url(images/traceFileViewer.PNG) center / cover;
}

.projects-moving-shapes{
  background: url(images/movingShapes.PNG) center/ cover;
}

.projects-dat{
  background: url(images/DAT.PNG) center/ cover;
}

.projects-tc{
  background: url(images/tc.PNG) center/ cover;
}

.projects-hackathon-debug{
  background: url(images/AUCSHackathon.PNG) center/ cover;
}

.projects-hackathon-scammr{
  background: url(images/scammr.PNG) center/ cover;
}

.projects-personal-website{
  background: url(images/personalWebsite.PNG) center/ cover;
}

.mdl-card__title-text{
  margin: auto !important;
  padding-top: 6.7em !important;
}

.mdl-card__supporting-text{
  padding-top: 2.2em !important;
}

/* Contacts - and co css */
/* background: #83c5ff; - for the light blue */
.contact-info-from-user{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  vertical-align: top;
}

.background-contact{
  background: #83c5ff;
  width: 100vw;
  height: 100vh;
  padding-top: 2em;
}

.contact-labels{
  text-align: left;
}

.progress-button-contact{
  margin-left: auto;
  margin-right: auto;
}


/* AboutMe.js css */
.bitmoji-hello{
  position: fixed;
  display: block;
  margin-left: -1.7em;
  margin-right: auto;
  top: 25%;
  background-color: white;
  height: 27em;
  width: 27em;
}

.bitmoji-work{
  position: fixed;
  right: 2.3em;
  top: 27%;
  height: 27em;
  width: 27em;
  background-color: white;
}

.aboutme-text-body-right{
  text-align: justify;
}

.aboutme-download-cv{
  text-align: center;
  margin-left: -3em;
}

/* AboutMe css for phones */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .bitmoji-work {
    visibility: hidden;
  }
  
  .bitmoji-hello {
    visibility: hidden;
  }
  
  .aboutme-text-body-right{
    text-align: left;
    padding-bottom: 1em;

  }
  
  .aboutme-download-cv{
    text-align: center;
    margin-left: -3em;
  }
}

/* Resume */
.bitmoji-construction-projects{
  display: block;
  padding-top: -1.5em;
  margin-left: auto;
  margin-right: auto;
}

/* Keyframes */
/* webkit-frames for landing page gradient */
@-webkit-keyframes AnimationName {
  0%{background-position:96% 0%}
  50%{background-position:5% 100%}
  100%{background-position:96% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:96% 0%}
  50%{background-position:5% 100%}
  100%{background-position:96% 0%}
}
@keyframes AnimationName {
  0%{background-position:96% 0%}
  50%{background-position:5% 100%}
  100%{background-position:96% 0%}
}